:root {
  /*color*/
  --main-green-color: #00695c;
  --dark-green-color: #003d32;
  --ligt-green-color: #439688;
  --main-brown-color: #795548;
  --dark-brown-color: #4b2c20;
  --light-brown-color: #a98274;
  --gray-color: #e0e0e0;
  --white-color: #fafafa;

  /*Size*/
  --up--padding: 10px;
  --side-padding: 20px;
  --max-width: 1300px;
  --min-width: 800px;

  /*Font size*/
  --font-super: 24px;
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 10px;
}

.middle .myBoard {
  display: grid;
  grid-template-columns: minmax(200px, auto) 660px;
  width: 100%;
  height: 570px;
  text-align: center;
  padding-right: var(--side-padding);
  background: pink;
}

.middle .myBoard .myBoard_list {
  border-right: 5px solid blue;
  background: grey;
  overflow: auto;
}

.middle .myBoard .myBoard_list .col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-large);
  text-align: center;
  padding: var(--up--padding) var(--side-padding);
  border-bottom: 3px solid violet;
  cursor: pointer;
}

.middle .myBoard .insert_view {
  display: grid;
  grid-template-rows: 230px 340px;
  text-align: center;
  background: black;
}

.middle .myBoard .insert_view .input_form {
  padding-top: var(--up--padding);
  display: grid;
  grid-template-columns: 110px 440px 110px;
  grid-template-rows: repeat(4, 50px);
  text-align: center;
  background: red;
}

.middle .myBoard .insert_view .insert_form {
  padding-top: var(--up--padding);
  background: blue;
}
.middle .myBoard .insert_view .input_form .title {
  grid-column: 2/3;
}

.middle .myBoard .insert_view .input_form .todo {
  grid-column: 2/3;
}

.middle .myBoard .insert_view .input_form .add {
  grid-column: 2/3;
}

input {
  height: 40px;
}
