:root {
  /*color*/
  --main-green-color: #00695c;
  --dark-green-color: #003d32;
  --ligt-green-color: #439688;
  --main-brown-color: #795548;
  --dark-brown-color: #4b2c20;
  --light-brown-color: #a98274;
  --gray-color: #e0e0e0;
  --white-color: #fafafa;

  /*Size*/
  --up--padding: 10px;
  --side-padding: 20px;
  --max-width: 1300px;
  --min-width: 800px;

  /*Font size*/
  --font-large: 18px;
  --font-medium: 16px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: var(--max-width);
  min-width: var(--min-width);
  /*
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 130px 1000px 130px;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
    */
  background: green;
  margin: 0 auto;
}

header {
  grid-area: header;
  text-align: center;
}

.title {
  font-size: 100px;
}

.top_menu {
  height: 50px;
  font-size: 20px;
  text-align: center;
  background: var(--main-green-color);
}

.top_menu ul {
  max-width: 880px;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.top_menu ul li {
  display: inline-block;
  height: 100%;
  line-height: 55px;
  padding: 0 50px;
  margin: 0 -3px;
  border-left: 1px solid black;
}

.top_menu ul li:hover {
  background: var(--dark-green-color);
}

.top_menu ul li:first-child {
  border-left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.top_menu ul li:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.middle {
  display: flex;
  justify-content: space-between;
  height: 1000px;
  padding: var(--up--padding) var(--side-padding);
}

.middle .main {
  grid-area: main;
  width: 100%;
  margin-right: 20px;
  background: var(--ligt-green-color);
}

.middle .aside {
  grid-area: aside;
  height: 400px;
  position: sticky;
  top: 0;
  background: var(--main-brown-color);
}

.middle .aside .login input {
  color: black;
}

.middle .aside .sidebar {
  border: 3px;
  background: white;
}

footer {
  grid-area: footer;
  width: var(--max-width);
  background: black;
}
