:root {
  /*color*/
  --main-green-color: #00695c;
  --dark-green-color: #003d32;
  --ligt-green-color: #439688;
  --main-brown-color: #795548;
  --dark-brown-color: #4b2c20;
  --light-brown-color: #a98274;
  --gray-color: #e0e0e0;
  --white-color: #fafafa;

  /*Size*/
  --up--padding: 10px;
  --side-padding: 20px;
  --max-width: 1300px;
  --min-width: 800px;

  /*Font size*/
  --font-super: 24px;
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: var(--max-width);
  min-width: var(--min-width);
  background: green;
  margin: 0 auto;
}

.middle {
  display: flex;
  justify-content: space-between;

  padding: var(--up--padding) var(--side-padding);
}

footer {
  grid-area: footer;
  width: var(--max-width);
  background: black;
}
